In [1]:
import sys
from random import random
from operator import add
 
from pyspark.sql import SparkSession
 
if __name__ == "__main__":
    """
        Usage: pi [partitions]
    """
    spark = SparkSession\
        .builder\
        .appName("PythonPi")\
        .getOrCreate()
 
    data = [
        (1,"Agam"),
        (2,"Lorita")
    ]

    columns = ["Id","Name"]

    # Create DataFrame
    df = spark.createDataFrame(data, columns)
    df.show()
    
    spark.stop()

:

In [ ]:
import pandas as pd

json_data = '''
[
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 35}
]
'''

df = pd.read_json(json_data, orient='records', dtype={'age': 'float64'})
print(df)

In [7]:
!pip install tabulate

from tabulate import tabulate

data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "London"],
    ["Charlie", 22, "Paris"]
]

headers = ["Name", "Age", "City"]

table = tabulate(data, headers=headers, tablefmt="grid")  # You can choose different table formats

print(table)

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
+---------+-------+----------+
| Name    |   Age | City     |
+=========+=======+==========+
| Alice   |    25 | New York |
+---------+-------+----------+
| Bob     |    30 | London   |
+---------+-------+----------+
| Charlie |    22 | Paris    |
+---------+-------+----------+

In [ ]:
help('modules')

:

In [4]:
# spark session and launch default SPARK UI to monitor with default port 4040
# http://localhost:4040/jobs/
from pyspark.sql import SparkSession
from concurrent.futures import ThreadPoolExecutor, as_completed

spark = SparkSession.builder \
    .master("local") \
        .appName("Spark-SQL") \
            .config("spark.executor.memory","4g") \
            .config("spark.sql.shuffle.partitions","6") \
            .getOrCreate()

In [5]:
def read_and_query(file_path, table_name):

    # Read the CSV file into a DataFrame
    df = spark.read.csv(file_path, header=True, inferSchema=True, sep="|") # inferschema is a function to automatically find datatype of source file itself

    # Register the DataFrame as a temporary view
    df.createOrReplaceTempView(table_name)
    
    # Use Spark SQL to query the DataFrame
    result = spark.sql(f"SELECT * FROM {table_name}")
    return result

In [16]:
import pandas as pd
import os

current_directory = os.getcwd()  # Get the current working directory
print(current_directory)

path = "./File/Config.csv"

#function csv to tuples [(a,a),(b,b)] here using lambda x:x for x in x
def read_csv_as_tuples(path):
    df = pd.read_csv(path, header=0, sep="|")
    list_of_tuples = [tuple(row) for row in df.values]
    return list_of_tuples

#function normal df for iteration using iterrows
def read_csv(path):
    df = pd.read_csv(path, header=0, sep="|")
    return df

In [ ]:
# read from root path by using ../
files_and_tables = read_csv_as_tuples(path)

# Use ThreadPoolExecutor to run tasks in parallel
with ThreadPoolExecutor() as executor:
    futures = [executor.submit(read_and_query, file, table) for file, table in files_and_tables]
    
    # Wait for all tasks to complete
    for future in as_completed(futures):
        future.result()

In [ ]:
result = spark.sql("""
                   SELECT A.Id AS Id_A, B.Id AS Id_B
                    FROM DQC A
                    LEFT JOIN DQC2 B ON A.Id = B.Id
                    """)
    
# Show the result|
result.show(n=50)

In [ ]:
single_path = "argument_jobs.py"
absolute_single_path = os.path.abspath(single_path)

print(absolute_single_path)

In [2]:
batchdate = None

Getbatchdate = lambda: "2025-01-01" if batchdate is None else batchdate
Getbatchdate()
print(Getbatchdate())

2025-01-01

In [18]:
import pandas as pd

math = (1,1,3,4,5)
columns = ["id"]

df = pd.DataFrame(math,columns=columns)
df = df.drop_duplicates()
df.head()

#lamda_func = max(tuple(map(lambda x: x * x,math)))
#print(lamda_func)

   id
0   1
2   3
3   4
4   5

In [ ]:
columns_to_clone = max(50, 100)

print(columns_to_clone)

list_of = []
for i in range(240):
    list_of.append(f"Cloned_{i + 1}|Varchar(100)")
   
df = pd.DataFrame(list_of, columns=["ColumnName"])
df.head(n=250)

df.to_csv("/mnt/apps/Files/NewSChema/new_schema_cust.csv",header=True, index=False)

In [ ]:
parquetOutput = "/mnt/apps/gcs/data-movement/Parquet/ACVMFPF/part*"
p = parquetOutput.replace("/part*","")
print(parquetOutput)
print(p)

/mnt/apps/gcs/data-movement/Parquet/ACVMFPF/part*
/mnt/apps/gcs/data-movement/Parquet/ACVMFPF

In [3]:
path = "mnt/apps/Files/ETL4/ACMVPF/ACMVPF.csv"
s = path.split("/")[4]
print(s)

ACMVPF